server:
  port: 0

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
<<<<<<< HEAD
            - classpath:config/core/{application}
            - classpath:config/stats/{application}
            - classpath:config/{application}

=======
            - classpath:config/{application}


>>>>>>> 61c9f1016aa0cac0e34042f597cf226ab6032e5d
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"
    leaseRenewalIntervalInSeconds: 10